<aside class="border-2 border-dark border-end">
  <div class="d-flex justify-content-center text-center">
    <div id="sidebar-container">
      <div class="margin">
        <h4 class="fs-2">Menu</h4>
      </div>
      <div class="d-flex flex-column">
        <a routerLink="students" href="#"><i class="fa-solid fa-table icon"></i>Alumnos</a>
        <a routerLink="classes" href="#"><i class="fa-solid fa-chalkboard icon"></i>Clases</a>
        <a routerLink="courses" href="#"><i class="fa-solid fa-book icon"></i>Cursos</a>
        <a href="#"><i class="fa-solid fa-triangle-exclamation icon"></i>Reportes</a>
        <a href="#"><i class="fa-solid fa-user icon"></i>Perfil</a>
        <a href="#"><i class="fa-solid fa-gear icon"></i>Opciones</a>
      </div>
    </div>
  </div>
</aside>