<main>
  <button (click)="addClass()" class="mb-3" mat-flat-button color="primary">Agregar Clase</button>
  <table mat-table [dataSource]="classes">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="table-font">No.</th>
      <td mat-cell *matCellDef="let element" class="table-font-2"> {{element.id}}</td>
    </ng-container>
    <ng-container matColumnDef="className">
      <th mat-header-cell *matHeaderCellDef class="table-font">Nombre</th>
      <td mat-cell *matCellDef="let element" class="table-font-2"> {{element.className}}</td>
    </ng-container>
    <ng-container matColumnDef="day">
      <th mat-header-cell *matHeaderCellDef class="table-font">Día</th>
      <td mat-cell *matCellDef="let element" class="table-font-2"> {{element.day}}</td>
    </ng-container>
    <ng-container matColumnDef="schedule">
      <th mat-header-cell *matHeaderCellDef class="table-font">Horario</th>
      <td mat-cell *matCellDef="let element" class="table-font-2"> {{element.schedule}}</td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef class="table-font">Editar</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="editClass(element)" mat-icon-button color="primary">
          <mat-icon>edit_note</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef class="table-font">Eliminar</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="deleteClass(element)" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</main>